/*Import de fon "mem"*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.meme-generator {
text-align: center;
margin-top: 20px;
}

.input-section {
margin-bottom: 20px;
}

.input-section input {
padding: 10px;
margin: 5px;
width: 200px;
border-radius: 5px;
border: 1px solid #ccc;
}

.input-section button {
padding: 10px 15px;
margin-top: 10px;
background-color: #9f7ca8;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.meme {
position: relative;
display: inline-block;
}

.meme img {
width: 400px;
height: auto;
border-radius: 8px;
}
/* Aide externe pour faire le .meme-text*/
.meme-text {
font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: absolute;
width: 100%;
left: 50%;
transform: translateX(-50%);
color: rgb(255, 255, 255);
font-size: 2em;
font-weight: bold;
-webkit-text-stroke: 2px black;
padding: 0 10px;
}

.meme-text.top {
top: 10px;
}

.meme-text.bottom {
bottom: 10px;
}
  